---
import { getEntry, render } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const about = await getEntry('pages', 'about');
const { Content } = about ? await render(about) : { Content: null };
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="About" description="About Tease" />
  </head>
  <body>
    <Header />
    <main>
      {Content && <Content />}
    </main>
    <Footer />
  </body>
</html>
